.directions-list{
    width: 100%
}

/* .btn-primary{
    background-color: #2780e3 !important;
}

.btn-secondary{
    background-color: #373a3c !important;
}

.btn-success{
    background-color: #3fb618 !important;
}

.btn-warning{
    background-color: #ff7518 !important;
}

.btn-info{
    background-color: #9954bb !important;
}

.btn-danger{
    background-color: #ff0039 !important;
} */