{%extends 'base.html'%}

{%block before_scripts%}

<!-- Axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"
  integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ=="
  crossorigin="anonymous"></script>

<!-- Custom JS -->
<script src='/static/js/app.js'></script>

<!-- Google Maps -->
<link rel="stylesheet" type="text/css" href="/static/css/googlemaps.css" />
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_KEY}}&callback=initAutocomplete&libraries=places&v=weekly"
  defer></script>
<script src='/static/js/googlemaps.js'></script>


{%endblock%}
{%block title%}Weather The Trip{%endblock%}


{%block body%}

<main>

  <div class="container-fluid">
    <div class="row" style="height:100%;">
      <div class="col-12 main" style="height:100%; width:100%;">

        <div style="height:100%; width:100%;">
          <input id="pac-input" class="controls" type="text" placeholder="Search Box">
          <div id="map" style="height:40rem"></div><br>
        </div>

      </div>
      <div class="col-12 col-lg-12 sidebar">
        <div class='d-flex align-items-center justify-items-center'>


          <!-- <button class='btn btn-primary'>Confirm</button> -->
          <form>
            {{directions_form.csrf_token}}
            {{directions_form.hidden_tag()}}

            <p class="lead text-light">Current: <span id='current-label'>Origin</span></p>
            <div class="form-group">
              <div class="input-group mb-3" id='direction-inputs'>
                <div class="input-group-append">
                  {{directions_form.start(id='origin', placeholder='Origin', readonly=True, class_='text-dark')}}
                  <button class='badge badge-danger trash' type='button' id='origin-trash'><i
                      class="fas fa-trash-alt"></i></button>
                </div>
                <div class="input-group-append">
                  {{directions_form.end(id='destination', placeholder='Destination', readonly=True,
                  class_='text-dark')}} <button class='badge badge-danger trash' type='button' id='destination-trash'><i
                      class="fas fa-trash-alt"></i></button>

                  <input type="submit" class='btn btn-primary' id='submit-calculations'>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
    <div class="row text-center">
      <div class="col-12">
        <h2 class="display-4 text-info text-center">Weather Results</h2>
        <div class="spinner-border mb-3 text-info" style="display: none;" role="status" id='spinner'>
          <span class="sr-only">Loading...</span>
        </div>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Time</th>
              <th scope="col">Location</th>
              <th scope="col">Description</th>
              <th scope="col"><a href="https://openweathermap.org/weather-conditions">Weather Code</a></th>
            </tr>
          </thead>
          <tbody id='weather-results'>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>


{%endblock%}

{%block after_scripts%}



{%endblock%}